.skeleton {
    background: #e2e5e7;
    background-image: linear-gradient(90deg,
            rgba(255, 255, 255, 0) 0,
            rgba(255, 255, 255, 0.5) 50%,
            rgba(255, 255, 255, 0) 100%);
    background-size: 40px 100%;
    background-repeat: no-repeat;
    background-position: left -40px top 0;
    animation: shine 1s ease infinite;
}

@keyframes shine {
    to {
        background-position: right -40px top 0;
    }
}

.skeleton-img {
    width: 100%;
    height: 200px;
    background: #e2e5e7;
    border-radius: 8px;
}

.skeleton-text {
    height: 20px;
    border-radius: 4px;
    margin-bottom: 10px;
}

.skeleton-text.short {
    width: 60%;
}

.skeleton-text.medium {
    width: 80%;
}

.skeleton-text.full {
    width: 100%;
}

.skeleton-price {
    display: flex;
    gap: 10px;
}

.skeleton-price-item {
    height: 24px;
    width: 80px;
    border-radius: 4px;
}

/* @media (max-width: 575px) {
    .tp-product-offer-slider-active {
        display: flex;
        justify-content: flex-end;
    }
} */

.swiper-wrapper {
    display: grid;
    gap: 1rem;
    /* Espacio entre las columnas */
}

/* Pantallas grandes (3 columnas) */
@media (min-width: 1024px) {
    .swiper-wrapper {
        grid-template-columns: repeat(3, 1fr);
        /* 3 columnas iguales */
    }
}

/* Tablets (2 columnas) */
@media (min-width: 768px) and (max-width: 1023px) {
    .swiper-wrapper {
        grid-template-columns: repeat(2, 1fr);
        /* 2 columnas iguales */
    }
}

/* Ocultar todos los elementos excepto el primero en móviles */
@media (max-width: 767px) {
    .swiper-wrapper .tp-product-offer-item:nth-child(n+2) {
        grid-template-columns: 1fr;
        display: none;
        /* Oculta el resto de los registros */
    }
}

/* Asegurarse de que el contenedor sea un flexbox */
.swiper-wrapper {
    display: flex;
    justify-content: center;
    /* Centra horizontalmente */
    justify-content: space-evenly;
    /* Centra verticalmente, si aplica */
}

/* En móviles: solo un elemento visible y centrado */
@media (max-width: 767px) {
    .swiper-wrapper {
        justify-content: center;
        /* Reforzamos el centrado */
    }

    .tp-product-offer-item {
        margin: 0 auto;
        /* Asegúrate de que quede centrado horizontalmente */
    }
}