@if(VIEW_READY) {
<section class="tp-slider-area p-relative z-index-1 pb-60">
    <div class="tp-slider-active tp-slider-variation swiper-container">
        <div class="swiper-wrapper">
            @for(SLIDER of SLIDERS;track SLIDER.id) {
            <ng-container>
                <div class="tp-slider-item tp-slider-height d-flex align-items-center swiper-slide green-dark-bg">
                    <div class="tp-slider-shape">
                        <img class="tp-slider-shape-1" src="assets/img/slider/shape/slider-shape-1.png"
                            alt="slider-shape">
                        <img class="tp-slider-shape-2" src="assets/img/slider/shape/slider-shape-2.png"
                            alt="slider-shape">
                        <img class="tp-slider-shape-3" src="assets/img/slider/shape/slider-shape-3.png"
                            alt="slider-shape">
                        <img class="tp-slider-shape-4" src="assets/img/slider/shape/slider-shape-4.png"
                            alt="slider-shape">
                    </div>
                    <div class="container">
                        <div class="row align-items-center">
                            <div class="col-xl-5 col-lg-6 col-md-6">
                                <div class="tp-slider-content p-relative z-index-1">
                                    <span [id]="'label-'+SLIDER.id">
                                        {{ getLabelSlider(SLIDER) }}
                                    </span>
                                    <h3 class="tp-slider-title">{{ SLIDER.title }}</h3>
                                    <p [id]="'subtitle-'+SLIDER.id">
                                        {{ getSubtitleSlider(SLIDER) }}
                                    </p>

                                    @if(SLIDER.link) {
                                    <div class="tp-slider-btn">
                                        <a href="shop.html" class="tp-btn tp-btn-2 tp-btn-white">Shop Now
                                            <svg width="17" height="14" viewBox="0 0 17 14" fill="none"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path d="M16 6.99976L1 6.99976" stroke="currentColor" stroke-width="1.5"
                                                    stroke-linecap="round" stroke-linejoin="round" />
                                                <path d="M9.9502 0.975414L16.0002 6.99941L9.9502 13.0244"
                                                    stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                                                    stroke-linejoin="round" />
                                            </svg>
                                        </a>
                                    </div>
                                    }
                                </div>
                            </div>
                            <div class="col-xl-7 col-lg-6 col-md-6">
                                <div class="tp-slider-thumb text-end">
                                    <img [src]="SLIDER.imagen" alt="slider-img">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-container>
            }
        </div>
        <div class="tp-slider-arrow tp-swiper-arrow d-none d-lg-block">
            <button type="button" class="tp-slider-button-prev">
                <svg width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M7 13L1 7L7 1" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                        stroke-linejoin="round" />
                </svg>
            </button>
            <button type="button" class="tp-slider-button-next">
                <svg width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1 13L7 7L1 1" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                        stroke-linejoin="round" />
                </svg>
            </button>
        </div>
        <div class="tp-slider-dot tp-swiper-dot"></div>
    </div>
</section>
}

<!-- Mostrar pre view -->
<div *ngIf="!VIEW_READY">
    <section class="tp-slider-area p-relative z-index-1 pb-60">
        <div class="tp-slider-active tp-slider-variation swiper-container">
            <div class="swiper-wrapper">
                <div class="tp-slider-item tp-slider-height d-flex align-items-center swiper-slide green-dark-bg">
                    <div class="tp-slider-shape">
                        <img class="tp-slider-shape-1" src="assets/img/slider/shape/slider-shape-1.png"
                            alt="slider-shape">
                        <img class="tp-slider-shape-2" src="assets/img/slider/shape/slider-shape-2.png"
                            alt="slider-shape">
                        <img class="tp-slider-shape-3" src="assets/img/slider/shape/slider-shape-3.png"
                            alt="slider-shape">
                        <img class="tp-slider-shape-4" src="assets/img/slider/shape/slider-shape-4.png"
                            alt="slider-shape">
                    </div>

                    <div class="container">
                        <div class="row align-items-center">
                            <div class="col-xl-5 col-lg-6 col-md-6 centrar-elementos">
                                <div class="tp-slider-content p-relative z-index-1">
                                    <div class="loading-box mb-4">
                                        <div class="animated-line"></div>
                                        <div class="animated-line"></div>
                                        <div class="animated-line"></div>
                                    </div>                                    
                                    <!-- Boton -->
                                    <div class="tp-slider-btn">
                                        <a href="/" onclick="return false;"
                                            class="tp-btn tp-btn-2 tp-btn-white d-flex justify-content-end align-items-center"
                                            style="width: 140px; height: 46px;">
                                            <svg width="17" height="14" viewBox="0 0 17 14" fill="none"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path d="M16 6.99976L1 6.99976" stroke="currentColor" stroke-width="1.5"
                                                    stroke-linecap="round" stroke-linejoin="round" />
                                                <path d="M9.9502 0.975414L16.0002 6.99941L9.9502 13.0244"
                                                    stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                                                    stroke-linejoin="round" />
                                            </svg>
                                        </a>
                                    </div>
                                    <!-- End Boton -->
                                </div>
                            </div>

                            <!-- Imagen -->
                            <div class="col-xl-7 col-lg-6 col-md-6 alinear-izquierda">
                                <div class="tp-slider-thumb centrar-elementos text-end">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"
                                        preserveAspectRatio="xMidYMid" class="responsive-svg" width="400" height="400"
                                        style="shape-rendering: auto; display: block; background: transparent;"
                                        xmlns:xlink="http://www.w3.org/1999/xlink">
                                        <g>
                                            <g transform="translate(26.666666666666668,26.666666666666668)">
                                                <rect fill="#e15b64" height="40" width="40" y="-20" x="-20">
                                                    <animateTransform begin="-0.3s" values="1.1500000000000001;1"
                                                        keyTimes="0;1" dur="1s" repeatCount="indefinite" type="scale"
                                                        attributeName="transform"></animateTransform>
                                                </rect>
                                            </g>
                                            <g transform="translate(73.33333333333333,26.666666666666668)">
                                                <rect fill="#f47e60" height="40" width="40" y="-20" x="-20">
                                                    <animateTransform begin="-0.2s" values="1.1500000000000001;1"
                                                        keyTimes="0;1" dur="1s" repeatCount="indefinite" type="scale"
                                                        attributeName="transform"></animateTransform>
                                                </rect>
                                            </g>
                                            <g transform="translate(26.666666666666668,73.33333333333333)">
                                                <rect fill="#f8b26a" height="40" width="40" y="-20" x="-20">
                                                    <animateTransform begin="0s" values="1.1500000000000001;1"
                                                        keyTimes="0;1" dur="1s" repeatCount="indefinite" type="scale"
                                                        attributeName="transform"></animateTransform>
                                                </rect>
                                            </g>
                                            <g transform="translate(73.33333333333333,73.33333333333333)">
                                                <rect fill="#abbd81" height="40" width="40" y="-20" x="-20">
                                                    <animateTransform begin="-0.1s" values="1.1500000000000001;1"
                                                        keyTimes="0;1" dur="1s" repeatCount="indefinite" type="scale"
                                                        attributeName="transform"></animateTransform>
                                                </rect>
                                            </g>
                                            <g></g>
                                        </g><!-- [ldio] generated by https://loading.io -->
                                    </svg>
                                </div>
                            </div>
                            <!-- End Imagen -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="tp-slider-arrow tp-swiper-arrow d-none d-lg-block">
                <button type="button" class="tp-slider-button-prev">
                    <svg width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M7 13L1 7L7 1" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                            stroke-linejoin="round" />
                    </svg>
                </button>
                <button type="button" class="tp-slider-button-next">
                    <svg width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1 13L7 7L1 1" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                            stroke-linejoin="round" />
                    </svg>
                </button>
            </div>
            <div class="tp-slider-dot tp-swiper-dot"></div>
        </div>
    </section>
</div>
<!--End Mostrar preview-->