/* Caja de texto que simula la carga */
.loading-box {
    width: clamp(150px, 90vw, 300px);
    /* Mínimo 200px, preferido 50% del ancho de la pantalla, máximo 600px */
    height: 150px;
    padding: 30px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* .tp-slider-btn {
    width: 145px;
} */

/* Líneas animadas */
.animated-line {
    height: 20px;
    background-color: #e0e0e0;
    border-radius: 4px;
    overflow: hidden;
    position: relative;
}

/* Efecto de carga */
.animated-line::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, #e0e0e0 0%, #f0f0f0 50%, #e0e0e0 100%);
    animation: loading 1.5s infinite;
}

/* Animación */
@keyframes loading {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(100%);
    }
}

@media screen and (max-width: 768px) {
    .centrar-elementos {
        display: flex;
        justify-content: center;
    }
}

.responsive-svg {
    width: clamp(150px, 100vw, 400px);
    /* Mínimo 200px, preferido 50% del ancho, máximo 400px */
    height: auto;
    /* Mantener la proporción del SVG */
}

@media screen and (min-width: 992px) {
    .alinear-izquierda {
        display: flex;
        justify-content: flex-end;
    }
}