.tp-checkout-payment-desc {
    transition: all 0.1s ease;
    max-height: 200px;
    overflow: hidden;
    opacity: 1;
}

.tp-checkout-payment-desc.hidden {
    max-height: 0;
    opacity: 0;
    padding: 0;
    margin: 0;
}

.tp-checkout-payment-item {
    margin-bottom: 15px;
}