@defer (on viewport; when CATEGORIES_RANDOMS) {
@if(VIEW_READY) {
<section class="tp-product-category pt-60 pb-15">
    <div class="container">
        <div class="row row-cols-xl-5 row-cols-lg-5 row-cols-md-4">

            @for(CATEGORIES_RANDOM of CATEGORIES_RANDOMS;track CATEGORIES_RANDOM.id) {
            <div class="col">
                <div class="tp-product-category-item text-center mb-40">
                    <div class="tp-product-category-thumb fix">
                        <a href="/" onclick="return false;">
                            <img [src]="CATEGORIES_RANDOM.imagen"
                                style="width: 80px; height: 100px; object-fit: contain;" alt="product-category">
                        </a>
                    </div>
                    <div class="tp-product-category-content">
                        <h3 class="tp-product-category-title">
                            <a href="/" onclick="return false;">{{CATEGORIES_RANDOM.name}}</a>
                        </h3>
                        <p>{{CATEGORIES_RANDOM.product_categorie_firsts_count}} Product</p>
                    </div>
                </div>
            </div>
            }

        </div>
    </div>
</section>
}

<!-- Mostrar pre view -->
<div *ngIf="!VIEW_READY">
    <section class="tp-product-category pt-60 pb-15">
        <div class="container">
            <div class="row row-cols-xl-5 row-cols-lg-5 row-cols-md-4">

                @for (item of [1,2,3,4,5]; track $index) {
                <div class="col">
                    <div class="tp-product-category-item text-center mb-40">
                        <div class="tp-product-category-thumb fix mb-0">
                            <a href="/" onclick="return false;">
                                <img src="https://shofy.botble.com/storage/main/general/placeholder.png"
                                    style="width: 150px; height: 150px; object-fit: contain;" alt="product-category">
                            </a>
                        </div>
                        <div class="tp-product-category-content d-flex justify-content-center align-items-center">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid"
                                width="72" height="72"
                                style="shape-rendering: auto; display: block; background: transparent;"
                                xmlns:xlink="http://www.w3.org/1999/xlink">
                                <g>
                                    <circle fill="#e15b64" r="10" cy="50" cx="84">
                                        <animate begin="0s" keySplines="0 0.5 0.5 1" values="6;0" keyTimes="0;1"
                                            calcMode="spline" dur="0.6944444444444443s" repeatCount="indefinite"
                                            attributeName="r"></animate>
                                        <animate begin="0s" values="#e15b64;#abbd81;#f8b26a;#f47e60;#e15b64"
                                            keyTimes="0;0.25;0.5;0.75;1" calcMode="discrete" dur="2.7777777777777772s"
                                            repeatCount="indefinite" attributeName="fill"></animate>
                                    </circle>
                                    <circle fill="#e15b64" r="10" cy="50" cx="16">
                                        <animate begin="0s" keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1"
                                            values="0;0;6;6;6" keyTimes="0;0.25;0.5;0.75;1" calcMode="spline"
                                            dur="2.7777777777777772s" repeatCount="indefinite" attributeName="r">
                                        </animate>
                                        <animate begin="0s" keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1"
                                            values="16;16;16;50;84" keyTimes="0;0.25;0.5;0.75;1" calcMode="spline"
                                            dur="2.7777777777777772s" repeatCount="indefinite" attributeName="cx">
                                        </animate>
                                    </circle>
                                    <circle fill="#f47e60" r="10" cy="50" cx="50">
                                        <animate begin="-0.6944444444444443s"
                                            keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1"
                                            values="0;0;6;6;6" keyTimes="0;0.25;0.5;0.75;1" calcMode="spline"
                                            dur="2.7777777777777772s" repeatCount="indefinite" attributeName="r">
                                        </animate>
                                        <animate begin="-0.6944444444444443s"
                                            keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1"
                                            values="16;16;16;50;84" keyTimes="0;0.25;0.5;0.75;1" calcMode="spline"
                                            dur="2.7777777777777772s" repeatCount="indefinite" attributeName="cx">
                                        </animate>
                                    </circle>
                                    <circle fill="#f8b26a" r="10" cy="50" cx="84">
                                        <animate begin="-1.3888888888888886s"
                                            keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1"
                                            values="0;0;6;6;6" keyTimes="0;0.25;0.5;0.75;1" calcMode="spline"
                                            dur="2.7777777777777772s" repeatCount="indefinite" attributeName="r">
                                        </animate>
                                        <animate begin="-1.3888888888888886s"
                                            keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1"
                                            values="16;16;16;50;84" keyTimes="0;0.25;0.5;0.75;1" calcMode="spline"
                                            dur="2.7777777777777772s" repeatCount="indefinite" attributeName="cx">
                                        </animate>
                                    </circle>
                                    <circle fill="#abbd81" r="10" cy="50" cx="16">
                                        <animate begin="-2.083333333333333s"
                                            keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1"
                                            values="0;0;6;6;6" keyTimes="0;0.25;0.5;0.75;1" calcMode="spline"
                                            dur="2.7777777777777772s" repeatCount="indefinite" attributeName="r">
                                        </animate>
                                        <animate begin="-2.083333333333333s"
                                            keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1"
                                            values="16;16;16;50;84" keyTimes="0;0.25;0.5;0.75;1" calcMode="spline"
                                            dur="2.7777777777777772s" repeatCount="indefinite" attributeName="cx">
                                        </animate>
                                    </circle>
                                    <g></g>
                                </g><!-- [ldio] generated by https://loading.io -->
                            </svg>
                        </div>
                    </div>
                </div>
                }
                
            </div>
        </div>
    </section>
</div>
<!--End Mostrar preview-->
} @placeholder (minimum 1000ms) {
<!-- pre loader area start -->
<div class="tp-preloader-container">
    <div class="tp-preloader-logo">
        <div class="tp-preloader-circle">
            <svg width="190" height="190" viewBox="0 0 380 380" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle stroke="#D9D9D9" cx="190" cy="190" r="180" stroke-width="6" stroke-linecap="round"></circle>
                <circle stroke="red" cx="190" cy="190" r="180" stroke-width="6" stroke-linecap="round"></circle>
            </svg>
        </div>
    </div>
</div>
<!-- pre loader area end -->
}