<div class="profile__ticket table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">N° Transacción</th>
                <th scope="col">Método de pago</th>
                <th scope="col">Fecha de registro</th>
                <th scope="col">Total</th>
                <th scope="col">Status</th>
                <th scope="col">View</th>
            </tr>
        </thead>
        <tbody>
            @for(sale of sales;track sale.id) {
            <tr>
                <th scope="row"> #{{ sale.n_transaccion }}</th>
                <td>{{ sale.method_payment }}</td>
                <td>{{ sale.created_at }}</td>
                <td>{{ sale.total }} {{ sale.currency_payment }}</td>
                <td data-info="status pending">Pending </td>
                <td><a href="/" onclick="return false;" (click)="detailShow(sale)" class="tp-logout-btn">Detalle</a>
                </td>
            </tr>

            @for(sale_detail of sale.sale_details;track sale_detail.id) {
            <tr *ngIf="sale.sale_detail_show">
                <!-- <th scope="row"> #{{ sale.n_transaccion }}</th> -->
                <th>
                    <img [src]="sale_detail.product.imagen" style="width: 25%; object-fit: contain;" alt="">
                </th>
                <td>{{ sale_detail.product.title }}</td>
                <td>{{ sale_detail.quantity }}</td>
                <td>{{ sale_detail.subtotal }} {{ sale_detail.currency }}</td>
                <td>{{ sale_detail.total }} {{ sale_detail.currency }}</td>
            </tr>
            }
            }
            <!-- <tr>
                <th scope="row"> #2220</th>
                <td data-info="title">Send money, but not working</td>
                <td data-info="status reply">Need your replay</td>
                <td><a href="#" class="tp-logout-btn">Reply</a></td>
            </tr>
            <tr>
                <th scope="row"> #2125</th>
                <td data-info="title">Balance error</td>
                <td data-info="status done">Resolved</td>
                <td><a href="#" class="tp-logout-btn">Invoice</a></td>
            </tr>
            <tr>
                <th scope="row"> #2124</th>
                <td data-info="title">How to decline bid</td>
                <td data-info="status hold">On Hold</td>
                <td><a href="#" class="tp-logout-btn">Status</a></td>
            </tr> -->
        </tbody>
    </table>
</div>

<div class="tp-shop-pagination d-flex justify-content-center mt-20">
    <div class="tp-pagination">
        <nav>
            <ul>
                <li>
                    <a href="shop.html" class="tp-pagination-prev prev page-numbers">
                        <svg width="15" height="13" viewBox="0 0 15 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1.00017 6.77879L14 6.77879" stroke="currentColor" stroke-width="1.5"
                                stroke-linecap="round" stroke-linejoin="round" />
                            <path d="M6.24316 11.9999L0.999899 6.77922L6.24316 1.55762" stroke="currentColor"
                                stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                    </a>
                </li>
                <li>
                    <a href="shop.html">1</a>
                </li>
                <li>
                    <span class="current">2</span>
                </li>
                <li>
                    <a href="shop.html">3</a>
                </li>
                <li>
                    <a href="shop.html" class="next page-numbers">
                        <svg width="15" height="13" viewBox="0 0 15 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M13.9998 6.77883L1 6.77883" stroke="currentColor" stroke-width="1.5"
                                stroke-linecap="round" stroke-linejoin="round" />
                            <path d="M8.75684 1.55767L14.0001 6.7784L8.75684 12" stroke="currentColor"
                                stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>