@media (max-width: 768px) {
    .tp-product-add-cart-btn-large-wrapper {
        bottom: 0;
        opacity: 1;
        visibility: visible;
    }
}

@media (max-width: 768px) {
    .tp-product-action-3 {
        opacity: 1;
        right: 20px;
        visibility: visible;
    }
}

.tp-product-action-3 {
    top: 80px;
}