/* Ver botones de compra en la vista de productos */
@media (max-width: 768px) {
    .tp-product-add-cart-btn-large-wrapper {
        bottom: 0;
        opacity: 1;
        visibility: visible;
    }
}

/* Acomodar botones de compra en la vista de productos */
@media (max-width: 768px) {
    .tp-product-action-3 {
        opacity: 1;
        right: 20px;
        visibility: visible;
    }
}

/* Acomodar botones de compra en la vista de productos */
.tp-product-action-3 {
    top: 80px;
}


/* Centrar las imágenes de la galería de productos */
@media (min-width: 768px) {
    .swiper-wrapper {
        display: flex;
        justify-content: space-evenly;
    }
}

/* No dejar desbordar el texto en la descripción de los productos */
.tp-product-details-desc-wrapper {
    word-wrap: break-word;
    /* Rompe las palabras largas */
    word-break: break-word;
    /* Compatible con navegadores más antiguos */
    overflow-x: hidden;
    /* Evita el desbordamiento horizontal */
}

.no-stock {
    background-color: #fd2d6c !important;
    color: white !important;
    /* Letra blanca */
}

.no-stock span {
    color: inherit !important;
}