<section class="tp-maintenance-area pt-110 pb-110">
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-xl-6 col-lg-8 col-md-10 col-12">
                <div class="tp-maintenance-content text-center">
                    <div class="tp-maintenance-thumb">
                        <img src="assets/img/about/maintenance.png"
                            alt="Sitio en Mantenimiento" class="img-fluid">
                    </div>

                    <h3 class="tp-maintenance-title">¡Estamos en mantenimiento!</h3>
                    <p>Actualmente estamos trabajando para mejorar el sitio. Por favor, vuelve más tarde. Gracias por tu
                        paciencia.</p>
                </div>
            </div>
        </div>
    </div>
</section>