<main>

    <!-- slider area start -->
    <app-slider [SLIDERS]="SLIDERS" [SLIDERS_STATE]="SLIDERS_STATE"
        [VIEW_READY_SLIDERS]="VIEW_READY_SLIDERS"></app-slider>
    <!-- slider area end -->

    <!-- product category area start -->
    <app-categories [CATEGORIES_RANDOMS]="CATEGORIES_RANDOMS" [CATEGORIES_STATE]="CATEGORIES_STATE"
        [VIEW_READY_CATEGORIES_RAMDOMS]="VIEW_READY_CATEGORIES_RAMDOMS"></app-categories>
    <!-- product category area end -->

    <!-- feature area start (ESTATIC) -->
    <app-feature [FEATURE_STATE]="FEATURE_STATE"></app-feature>
    <!-- feature area end -->

    <!-- product area start -->
    <app-trending-products (productSelected)="handleProductSelect($event)" [TRENDING_PRODUCT_NEW]="TRENDING_PRODUCT_NEW"
        [TRENDING_PRODUCT_FEATURED]="TRENDING_PRODUCT_FEATURED"
        [TRENDING_PRODUCT_TOP_SELLER]="TRENDING_PRODUCT_TOP_SELLER" [TRENDING_STATE]="TRENDING_STATE"
        [VIEW_READY_TRENDING]="VIEW_READY_TRENDING">
    </app-trending-products>
    <!-- product area end -->

    <!-- banner area start -->
    <app-slider-secundario [SLIDERS_SECUNDARIOS]="SLIDERS_SECUNDARIOS"
        [VIEW_READY_SLIDERS_SECUNDARIOS]="VIEW_READY_SLIDERS_SECUNDARIOS"
        [SLIDERS_SECUNDARIOS_STATE]="SLIDERS_SECUNDARIOS_STATE"></app-slider-secundario>
    <!-- banner area end -->

    <!-- product offer area start -->
    <app-discount-flash (productSelected)="handleProductSelect($event)" [DISCOUNT_FLASH]="DISCOUNT_FLASH"
        [DISCOUNT_FLASH_PRODUCTS]="DISCOUNT_FLASH_PRODUCTS" [VIEW_READY_FLASH]="VIEW_READY_FLASH"
        [DISCOUNT_FLASH_PRODUCTS_STATE]="DISCOUNT_FLASH_PRODUCTS_STATE">
    </app-discount-flash>
    <!-- product deal area end -->

    <!-- Banner & Product Electronics -->
    <app-electronic-products (productSelected)="handleProductSelect($event)" [ELECTRONIC_PRODUCTS]="ELECTRONIC_PRODUCTS"
        [VIEW_READY_ELECTRONIC_PRODUCTS]="VIEW_READY_ELECTRONIC_PRODUCTS"
        [ELECTRONIC_PRODUCTS_STATE]="ELECTRONIC_PRODUCTS_STATE"></app-electronic-products>
    <!-- End Banner & Product Electronics -->

    <!-- product banner area start -->
    <app-slider-products [SLIDERS_PRODUCTS]="SLIDERS_PRODUCTS"
        [VIEW_READY_SLIDERS_PRODUCTS]="VIEW_READY_SLIDERS_PRODUCTS"
        [SLIDERS_PRODUCTS_STATE]="SLIDERS_PRODUCTS_STATE"></app-slider-products>
    <!-- product banner area end -->

    <!-- product arrival area start -->
    <app-carusel-products (productSelected)="handleProductSelect($event)" [PRODUCTS_CARUSEL]="PRODUCTS_CARUSEL"
        [VIEW_READY_CARUSEL]="VIEW_READY_CARUSEL"
        [PRODUCTS_CARUSEL_STATE]="PRODUCTS_CARUSEL_STATE"></app-carusel-products>
    <!-- product arrival area end -->

    <!-- product sm area start -->
    <app-last-products [LAST_PRODUCT_DISCOUNTS]="LAST_PRODUCT_DISCOUNTS" [LAST_PRODUCT_FEATURED]="LAST_PRODUCT_FEATURED"
        [LAST_PRODUCT_SELLING]="LAST_PRODUCT_SELLING">
    </app-last-products>
    <!-- product sm area end -->

    <!-- blog area start (ESTATIC) -->
    <app-blog [BLOG_STATE]="BLOG_STATE"></app-blog>
    <!-- blog area end -->

    <!-- instagram area start (ESTATIC) -->
    <app-ig-images [IG_IMAGES_STATE]="IG_IMAGES_STATE"></app-ig-images>
    <!-- instagram area end -->

    <!-- subscribe area start (ESTATIC) -->
    <app-subscribe [SUBSCRIBE_STATE]="SUBSCRIBE_STATE"></app-subscribe>
    <!-- subscribe area end -->

    <!-- Modal producto -->
    <div class="modal fade tp-product-modal" id="producQuickViewModal" tabindex="-1"
        aria-labelledby="producQuickViewModal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                @defer (on viewport; when product_selected){
                @if(product_selected){
                <app-modal-producto [product_selected]="product_selected"></app-modal-producto>
                }
                } @placeholder (minimum 1000ms) {
                <!-- pre loader area start -->
                <div class="tp-preloader-content">
                    <div class="tp-preloader-logo">
                        <div class="tp-preloader-circle">
                            <svg width="190" height="190" viewBox="0 0 380 380" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <circle stroke="#D9D9D9" cx="190" cy="190" r="180" stroke-width="6"
                                    stroke-linecap="round"></circle>
                                <circle stroke="red" cx="190" cy="190" r="180" stroke-width="6" stroke-linecap="round">
                                </circle>
                            </svg>
                        </div>
                        <img src="assets/img/logo/preloader/preloader-icon.svg" alt="">
                    </div>
                    <h3 class="tp-preloader-title">Shofy</h3>
                    <p class="tp-preloader-subtitle">Loading</p>
                </div>
                <!-- pre loader area end -->
                }
            </div>
        </div>
    </div>
    <!-- End Modal producto-->

</main>