@defer (on viewport) {
<section class="tp-product-sm-area pt-55">
    <div class="container">
        <div class="row">
            <div class="col-xl-4 col-md-6">
                <div class="tp-product-sm-list mb-50">
                    <div class="tp-section-title-wrapper mb-40">
                        <h3 class="tp-section-title tp-section-title-sm">Discount Products
                            <svg width="64" height="20" viewBox="0 0 64 20" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M62 13.1107C1.91792 -5.41202 -3.10865 1.22305 5.00242 18.3636"
                                    stroke="currentColor" stroke-width="3" stroke-miterlimit="3.8637"
                                    stroke-linecap="round" />
                            </svg>
                        </h3>
                    </div>

                    <div class="tp-product-sm-wrapper mr-20">

                        @for(PRODUCT of LAST_PRODUCT_DISCOUNTS;track PRODUCT.id) {
                        <div class="tp-product-sm-item d-flex align-items-center">
                            <div class="tp-product-thumb mr-25 fix">
                                <a [routerLink]="'/producto/'+PRODUCT.slug">
                                    <img [src]="PRODUCT.imagen"
                                        style="width: 140px; height: 140px; object-fit: contain;" alt="">
                                </a>
                            </div>
                            <div class="tp-product-sm-content">
                                <div class="tp-product-category">
                                    <a [routerLink]="'/producto/'+PRODUCT.slug">{{ PRODUCT.brand.name }}</a>
                                </div>
                                <h3 class="tp-product-title">
                                    <a [routerLink]="'/producto/'+PRODUCT.slug">
                                        {{ PRODUCT.title }}
                                    </a>
                                </h3>
                                <div class="tp-product-rating d-sm-flex align-items-center">
                                    <div class="tp-product-rating-icon">
                                        <span><i class="fa-solid fa-star"></i></span>
                                        <span><i class="fa-solid fa-star"></i></span>
                                        <span><i class="fa-solid fa-star"></i></span>
                                        <span><i class="fa-solid fa-star"></i></span>
                                        <span><i class="fa-solid fa-star"></i></span>
                                    </div>
                                    <div class="tp-product-rating-text">
                                        <span>(4 Review)</span>
                                    </div>
                                </div>
                                <!-- Precio -->
                                <div class="tp-product-price-wrapper">
                                    @if(PRODUCT.discount_g) {
                                    <span class="tp-product-price old-price mx-1">${{ PRODUCT.price_cop
                                        }}</span>
                                    }
                                    <span class="tp-product-price new-price">${{
                                        getTotalPrice(PRODUCT)}}</span>
                                </div>
                                <!-- End Precio -->
                            </div>
                        </div>
                        }

                    </div>
                </div>
            </div>

            <div class="col-xl-4 col-md-6">
                <div class="tp-product-sm-list mb-50">
                    <div class="tp-section-title-wrapper mb-40">
                        <h3 class="tp-section-title tp-section-title-sm">Featured Products
                            <svg width="64" height="20" viewBox="0 0 64 20" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M62 13.1107C1.91792 -5.41202 -3.10865 1.22305 5.00242 18.3636"
                                    stroke="currentColor" stroke-width="3" stroke-miterlimit="3.8637"
                                    stroke-linecap="round" />
                            </svg>
                        </h3>
                    </div>

                    <div class="tp-product-sm-wrapper mr-20">

                        @for(PRODUCT of LAST_PRODUCT_FEATURED;track PRODUCT.id) {
                        <div class="tp-product-sm-item d-flex align-items-center">
                            <div class="tp-product-thumb mr-25 fix">
                                <a [routerLink]="'/producto/'+PRODUCT.slug">
                                    <img [src]="PRODUCT.imagen"
                                        style="width: 140px; height: 140px; object-fit: contain;" alt="">
                                </a>
                            </div>
                            <div class="tp-product-sm-content">
                                <div class="tp-product-category">
                                    <a [routerLink]="'/producto/'+PRODUCT.slug">{{ PRODUCT.brand.name }}</a>
                                </div>
                                <h3 class="tp-product-title">
                                    <a [routerLink]="'/producto/'+PRODUCT.slug">{{ PRODUCT.title }}</a>
                                </h3>
                                <div class="tp-product-rating d-sm-flex align-items-center">
                                    <div class="tp-product-rating-icon">
                                        <span><i class="fa-solid fa-star"></i></span>
                                        <span><i class="fa-solid fa-star"></i></span>
                                        <span><i class="fa-solid fa-star"></i></span>
                                        <span><i class="fa-solid fa-star"></i></span>
                                        <span><i class="fa-solid fa-star"></i></span>
                                    </div>
                                    <div class="tp-product-rating-text">
                                        <span>(4 Review)</span>
                                    </div>
                                </div>
                                <!-- Precio -->
                                <div class="tp-product-price-wrapper">
                                    @if(PRODUCT.discount_g) {
                                    <span class="tp-product-price old-price mx-1">${{ PRODUCT.price_cop
                                        }}</span>
                                    }
                                    <span class="tp-product-price new-price">${{
                                        getTotalPrice(PRODUCT)}}</span>
                                </div>
                                <!-- End Precio -->
                            </div>
                        </div>
                        }

                    </div>
                </div>
            </div>

            <div class="col-xl-4 col-md-6">
                <div class="tp-product-sm-list mb-50">
                    <div class="tp-section-title-wrapper mb-40">
                        <h3 class="tp-section-title tp-section-title-sm">Selling Products
                            <svg width="64" height="20" viewBox="0 0 64 20" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M62 13.1107C1.91792 -5.41202 -3.10865 1.22305 5.00242 18.3636"
                                    stroke="currentColor" stroke-width="3" stroke-miterlimit="3.8637"
                                    stroke-linecap="round" />
                            </svg>
                        </h3>
                    </div>

                    <div class="tp-product-sm-wrapper mr-20">

                        @for(PRODUCT of LAST_PRODUCT_SELLING;track PRODUCT.id) {
                        <div class="tp-product-sm-item d-flex align-items-center">
                            <div class="tp-product-thumb mr-25 fix">
                                <a [routerLink]="'/producto/'+PRODUCT.slug">
                                    <img [src]="PRODUCT.imagen"
                                        style="width: 140px; height: 140px; object-fit: contain;" alt="">
                                </a>
                            </div>
                            <div class="tp-product-sm-content">
                                <div class="tp-product-category">
                                    <a [routerLink]="'/producto/'+PRODUCT.slug">{{ PRODUCT.brand.name }}</a>
                                </div>
                                <h3 class="tp-product-title">
                                    <a [routerLink]="'/producto/'+PRODUCT.slug">{{ PRODUCT.title }}</a>
                                </h3>
                                <div class="tp-product-rating d-sm-flex align-items-center">
                                    <div class="tp-product-rating-icon">
                                        <span><i class="fa-solid fa-star"></i></span>
                                        <span><i class="fa-solid fa-star"></i></span>
                                        <span><i class="fa-solid fa-star"></i></span>
                                        <span><i class="fa-solid fa-star"></i></span>
                                        <span><i class="fa-solid fa-star"></i></span>
                                    </div>
                                    <div class="tp-product-rating-text">
                                        <span>(4 Review)</span>
                                    </div>
                                </div>
                                <!-- Precio -->
                                <div class="tp-product-price-wrapper">
                                    @if(PRODUCT.discount_g) {
                                    <span class="tp-product-price old-price mx-1">${{ PRODUCT.price_cop
                                        }}</span>
                                    }
                                    <span class="tp-product-price new-price">${{
                                        getTotalPrice(PRODUCT)}}</span>
                                </div>
                                <!-- End Precio -->
                            </div>
                        </div>
                        }

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
} @placeholder (minimum 3000ms) {
<!-- pre loader area start -->
<div class="tp-preloader-container pt-55">
    <div class="tp-preloader-logo">
        <div class="tp-preloader-circle">
            <svg width="190" height="190" viewBox="0 0 380 380" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle stroke="#D9D9D9" cx="190" cy="190" r="180" stroke-width="6" stroke-linecap="round"></circle>
                <circle stroke="red" cx="190" cy="190" r="180" stroke-width="6" stroke-linecap="round"></circle>
            </svg>
        </div>
    </div>
</div>
<!-- pre loader area end -->
}